<div class="col-md-10">

    <form>
        <div class="form-group row">
                <label>Length:</label> 
                <input class="form-control" type="text" [value]="wordLength" style="width: 8%;"readonly>
     
     
            <label>Attempts left:</label>  
            <input class="form-control" type="text" [value]="attemptsLeft" style="width: 8%;"  readonly >
           
        
       
            <label>Wrong Guesses:</label> 
            <input class="form-control" type="text" [value]="wrongGuessedLetters" style="width: 23%;" readonly>
        </div>
    </form>
 
</div>
