form {
    padding-top: 15px;
    margin-left: 15%
    
}
input {
    text-align: center; ;
    margin-bottom: 2px;
    border: rgb(101, 52, 236) solid 0.3px;
    box-shadow: rgb(101, 52, 236) 2px 2px;

}
.attempt-bar {
    margin-left:20%;
}
#white-bar,#cover-bar {
    height: 20px;
    position: absolute;
    border: black solid 1px;
    padding: 0px;
    
}

#white-bar {
    background-color: white;
    width: 150px;
}
#cover-bar {
    background-color: rgb(224, 43, 43);
    float: left;
    width: 150px;
}

label {
    padding-top:5px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px black;
    white-space: nowrap;
}
